.first-scroll {
    position: relative;
    height: 126px;
    width:100vw;
    z-index: 999;
    transform: rotateX(180deg);
  }
  
  .final-scroll {
    position: relative;
    width: 100vw;
    height: 126px;
    z-index: 999;
  }

  .scroll__body {
    position:absolute;
    background-image: url('../images/scroll-body.png');
    width: calc(100% - 104px);
    height: 126px;
    left:52px;
    z-index: 999;
  }

  .scroll__start {
    position: absolute;
    left: 0;
    background-image: url('../images/scroll.png');
    width: 52px;
    height: 126px;
    transform: rotateY(180deg);
  }
  
  
  .scroll__end {
    position: absolute;
    right: 0;
    background-image: url('../images/scroll.png');
    width: 52px;
    height: 126px;
  }
  
  .left-border {
    position:absolute;
    left:15px;
    z-index: 900;
    height: calc(100% - 252px);
    top:126px;
    width: 34px;
    background-image: url('../images/scroll-side-removebg-preview.png');
  }
  
  .right-border {
    position:absolute;
    right:15px;
    z-index: 900;
    height: calc(100% - 252px);
    top:126px;
    width: 34px;
    background-image: url('../images/scroll-side-removebg-preview.png');
    transform: rotateY(180deg);
  }

  @media screen and (max-width: 550px) {
    .first-scroll {
        width:115vw;
    }
      
    .final-scroll {
         width:115vw;
    }
    
    .left-border{
        left:-10px;
    }

    .right-border {
        right:-10px;
    }
  }